# Ignore the data-guidelines folder
data-guidelines/
service_account/
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env*/
.venv/
virtualenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Local settings
*.sqlite3

# IDE / editor stuff
.vscode/
.idea/
*.swp
*.swo
